/* sezione per le dichiarazioni generali -----------------------------------*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    max-width: 100vw;
    max-height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* dichiarazioni per stilizzare l'header ----------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: white;
}

header div:last-child {
    padding-right: 3vw;
}

header div ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    gap:10px;
}

header div ul li{
    display: flex;
    align-items: center;
}

#header-img {
    height: 10vh;
}
