/* sezione per le dichiarazioni generali -----------------------------------*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

* {
    max-width: 100vw;
    max-height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2.5em;
}

/* dichiarazioni per stilizzare l'header ----------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: rgb(190, 236, 254);
    border-bottom: 2px solid darkblue;
    z-index: 3;
}

header div:last-child {
    padding-right: 3vw;
}

header div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 0px;
}

header div ul li{
    display: flex;
    align-items: center;
    height: 100%;
}

header div ul li:hover{
    background: linear-gradient(to bottom, rgb(190, 236, 254), darkblue);
}

header div ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

#header-img {
    height: 100%;
}

select {
    height: 33%;
    width: 45px;
    margin: 0px auto;
}

#newsletter {
    height: 50%;
    padding: 0px 10px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.5s;
}

#newsletter:hover{
    background-color: rgb(0, 0, 93);
    transition: all 0.5s;
}

#newsletter-container{
    background: none;
    padding-right: 20px;
}


/* dichiarazioni per stilizzare il main -----------------------------------  */

main {
    margin-top: 10vh;
}

/* dichiarazioni per stilizzare il chi sono -------------------------------- */

#chi-sono{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10vh;
}

#chi-sono img, #chi-sono div{
    width: 375px;
}

#chi-sono img{
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

#chi-sono div{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 10px;
}

#chi-sono div h1, #chi-sono div a{
    text-align: center;
}

#chi-sono div a{
    padding: 10px;
    background-color: skyblue;
    border-radius: 20px;
    box-shadow: 2px 2px black;
    transition: all 0.5s;
    color: darkblue;
}

#chi-sono div a:hover{
    position: relative;
    top: 2px;
    left: 2px;
    color: white;
    background-color: darkblue;
    box-shadow: none;
    transition: all 0.5s;
}

/* dichiarazioni per stilizzare il video promo --------------------------------- */

#promo {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
    background-color: rgb(0, 0, 73);
}

#promo video {
    width: 70%;
    border: 2px solid black;
    border-radius: 20px;
}

/* dichiarazioni per stilizzare il percorso accademico -------------------------- */

#studi{
    background-image: url('../img/laurea.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
}

#studi div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    min-width: 400px;
    margin-left: 10vw;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 30px;
}

#studi h1, #studi p, #studi a{
    color: white;
    text-align: center;
}

#studi a{
    padding: 8px 15px;
    background-color: lightblue;
    color: darkblue;
    transition: all 0.5s;
    border-radius: 10px;
}

#studi a:hover{
    background-color: blue;
    color: white;
    transition: all 0.5s;
}