* {
    margin:0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    height: 200px;
    display: flex;
    overflow: hidden;
}
div {
    width: 33%;
    height: 400px;
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}