* {
    margin:0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 1s;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

/* Quando il mouse è sopra il primo div (black), cambiamo le dimensioni delle colonne */
main:hover > #black:hover ~ #red, 
main:hover > #black:hover ~ #yellow {
    grid-template-columns: 2fr 0.5fr 0.5fr;
}

/* Quando il mouse è sopra il secondo div (red), cambiamo le dimensioni delle colonne */
main:hover > #red:hover ~ #black, 
main:hover > #red:hover ~ #yellow {
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

/* Quando il mouse è sopra il terzo div (yellow), cambiamo le dimensioni delle colonne */
main:hover > #yellow:hover ~ #black, 
main:hover > #yellow:hover ~ #red {
    grid-template-columns: 0.5fr 0.5fr 2fr;
}